.container {
    font-family: Arial, sans-serif;

    border:solid rgb(100, 154, 20) 2px ;
    border-radius: 5px;
    padding: 50px 50px ;
    display: block;
}
.title-of-content{
    text-align: center;
    
}


.text-area{
    border:solid rgb(0, 0, 0) 2px;
    border-radius: 5px;
    height: 30px;

}
button{
    
  
    margin-top: 10px;
    height: 30px;
    width: 80px;
    color: white;
    background-color: rgb(100, 154, 20);
    border: none;
    border-radius: 5px;
}
.btn{
 
align-items: center;
}
@media screen and (max-width: 576px) {
    .text-area{
        border:solid rgb(0, 0, 0) 2px;
        border-radius: 5px;
        height: 30px;
        width: 70%;
    }
    

}